.scrolling-container {
    height: 50px;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
}

.scrolling-text {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    animation: scroll 10s linear infinite;
}

/* Keyframes for scrolling effect */
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}